[Desktop Entry]             
Version=1.6    
Name=bingWallpaper     
Comment=Set the desktop wallpaper of Ubuntu 14.04        
Exec=/usr/bin/bingWallpaper
Icon=/usr/share/icons/leaf.jpg
Terminal=false
Type=Application
Categories=Utility;Application;    
